<ion-app>
    <ion-router-outlet> </ion-router-outlet>
    <ion-header class="tab">
      <div class="logo"><img src="../../assets/images/logo.png" /></div>
      <button
        mat-raised-button
        class="tablinks"
        (click)="openHome()"
      >
        {{"app.button1" | translate}}
      </button>
      <button
        mat-raised-button
        class="tablinks"
        (click)="openRegister()"
      >
      {{"app.button2" | translate}}
      </button>
    </ion-header> 

</ion-app>