.tab {
  height: 100px;
  display: flex;
  background-color: rgb(184, 231, 245);
  button:hover {
    background-color: rgb(142, 227, 253);
  }
  .tablinks {
    font-size: 30px;
    margin: 20px 30px;
  }
  .logo {
    margin: 20px 50px;
    width: 100px;
  }
}

@media only screen and (max-width: 700px) {
  .tab {
    .tablinks {
      padding: 0;
      font-size: 16px;
      margin: 20px;
    }

    .logo {
      margin: 20px 30px;
    }
  }
}
